.normal {
    display: inline-block;
}

.line {
    text-decoration: line-through;
    display: inline-block;
}

.buttonMargin {
    margin-left: 5px;
}

.mainItem {
    margin: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.button {
    float: right;
}